@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer components {
  .cs-trigger {
    @apply h-11 w-11 rounded-full flex justify-center items-center border-2;
  }
  .cs-modal {
    @apply absolute top-0 left-0 h-full w-full flex justify-center items-center bg-gray-900/40;
  }
}
body {
  /* Prevent chrome from pull-to-refresh effect */
  overscroll-behavior-y: none;
  user-select: none;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #f90;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.list-enter-from {
  opacity: 0.5;
  transform: translateX(30px);
}
.list-enter-to {
  opacity: 1;
  transform: translateX(0);
}
.list-leave-to,
.list-leave-from {
  display: none;
}
.list-leave-active {
  position: absolute;
}
.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-reverse-enter-from {
  opacity: 0.5;
  transform: translateX(-30px);
}
.list-reverse-enter-to {
  opacity: 1;
  transform: translateX(0);
}
.list-reverse-leave-to,
.list-reverse-leave-from {
  display: none;
}
.list-reverse-leave-active {
  position: absolute;
}

.list-reverse-move, /* apply transition to moving elements */
.list-reverse-enter-active,
.list-reverse-leave-active {
  transition: all 0.5s ease;
}

.fade-move,
.fade-enter-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-enter-from {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

.fade-leave-active {
  position: absolute;
  display: none;
}

.expand-move,
.expand-enter-active {
  transition: all 0.5s;
}

.expand-leave-active {
  position: absolute;
  display: none;
}

.toast-enter-from,
.toast-leave-to {
  opacity: 0;
  transform: translateY(-60px);
}

.toast-enter-to,
.toast-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.toast-enter-active,
.toast-leave-active {
  transition: all 0.4s ease;
}

.switch-leave-active {
  transition: all 0.3s ease;
  position: absolute;
}

.switch-enter-active {
  transition: all 0.3s ease;
}

.switch-enter-from,
.switch-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.switch-enter-to,
.switch-leave-from {
  opacity: 1;
  transform: translateX(0px);
}

img.whitify {
  filter: invert(1) brightness(2);
}

.sprite-3 .tile {
  --w: 0;
  --x: 0;
  --y: 0;
  background-image: url('/sprite/i3.webp');
  width: var(--w);
  height: var(--w);

  background-repeat: no-repeat;
  background-size: calc(1778 / 225 * var(--w)) calc(889/225 * var(--w));

  background-position: calc(var(--x) * (-1) * var(--w)) calc(var(--y) * (-1) * var(--w) - 43/45 * var(--w));
}
